<div class="btn-div">
  <!--<button type="submit" class="btn principal-bg btn-large">{{ text }}</button>-->
  <button
    _ngcontent-xue-c92=""
    pbutton=""
    pripple=""
    type="submit"
    label="Log in"
    class="p-element p-ripple p-button-raised p-button-success p-button p-component btn principal-bg btn-large"
    style="background-color: #375f24"
  >
    <span class="p-button-label"
      ><font style="vertical-align: inherit"
        ><font style="vertical-align: inherit; color: #dfe0eb">{{
          text
        }}</font></font
      ></span
    ><span
      class="p-ink"
      style="height: 89px; width: 89px; top: -24.75px; left: -4.6875px"
    ></span>
  </button>
</div>
